$primary--light: #87b5e0;
$primary--regular: #508ec7;
$primary--dark: #386fa1;
$secondary--light: #a6e4ff;
$secondary--regular: #78cdf1;
$secondary--dark: #57b2d9;
$complementary1: #736ca4;
$complementary2: #46c5df;
$complementary3: #95c6c8;
$complementary4: #6bc7ba;
$gray--regular: #8d9092;
$gray--dark: #6c6c6f;
$greyishblue--lightest: #f8fafc;
$greyishblue--light: #e2e8f0;
$greyishblue--regular: #cbd5e1;
$greyishblue--dark: #94a3b8;
$greyishblue--darkest: #475569;
$black900: #0f172a;
$white: #ffffff;
$info: #386fa1;
$success: #49baaa;
$warning: #b45309;
$error: #be123c;
$area--assEspiritual: #8f84b3;
$area--centralVoluntários: #69cce3;
$area--ensino: #e9c81c;
$area--federativa: #cc2221;
$area--financeiro: #6e973d;
$area--InfJuvMocidade: #e28a89;
$brand--gradient: linear-gradient(6.03deg, #0075e0 0%, #4d93d3 100%);
