@import './_mixins.scss';
@import './_variables.scss';

@font-face {
  font-family: 'Avenir-Black';
  src: url('~assets/fonts/Avenir-Black.woff') format('woff2'),
    url('~assets/fonts/Avenir-Black.woff2') format('woff');
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('~assets/fonts/Avenir-Book.woff') format('woff2'),
    url('~assets/fonts/Avenir-Book.woff2') format('woff');
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('~assets/fonts/Avenir-Heavy.woff') format('woff2'),
    url('~assets/fonts/Avenir-Heavy.woff2') format('woff');
}
@font-face {
  font-family: 'Avenir-Light';
  src: url('~assets/fonts/Avenir-Light.woff') format('woff2'),
    url('~assets/fonts/Avenir-Light.woff2') format('woff');
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('~assets/fonts/Avenir-Medium.woff') format('woff2'),
    url('~assets/fonts/Avenir-Medium.woff2') format('woff');
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('~assets/fonts/Avenir-Roman.woff') format('woff2'),
    url('~assets/fonts/Avenir-Roman.woff2') format('woff');
}

h1 {
  font-family: 'Avenir-Book';
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
}
h2 {
  font-family: 'Avenir-Book';
  font-style: normal;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
}
h3 {
  font-family: 'Avenir-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #2867a1;
}
h4 {
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
h5 {
  font-family: 'Avenir-Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
h6 {
  font-family: 'Avenir-Book';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
ul.breadcrumb {
  font-family: 'Avenir-Roman';
  padding: 10px 16px;
  list-style: none;
  li {
    display: inline;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #2867a1;
    + {
      li {
        &:before {
          padding: 8px;
          color: black;
          content: '/\00a0';
        }
      }
    }
    a {
      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
  }
}
.font-regular {
  font-family: 'Avenir-Roman';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.font-medium {
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.font-bold {
  font-family: 'Avenir-Heavy';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.font-large {
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.font-small-regular {
  font-family: 'Avenir-Roman';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.font-small-medium {
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  height: 48px;
  background: linear-gradient(6.03deg, #00489c 0%, #1d578d 100%);
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.secondary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #2867a1;
  box-sizing: border-box;
  border-radius: 8px;
  color: #2867a1;
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

//form
label {
  font-family: 'Avenir-Medium';
  font-size: 16px;
  color: #475569;
  margin: 4px 0px;

  &.mutted {
    color: $greyishblue--dark;
  }

  &.has-error {
    color: #be123c;
  }

  &:required {
    color: #be123c;
  }
}

p.has-error-document {
  color: #be123c;
}

.has-error-other input {
  border: 1px solid #be123c;
  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #be123c;
      margin: 0px 10px;
    }
  }
  background: url('~static/icons/icon-error.svg') no-repeat scroll 95% center;
  // padding-left: 30px;
}

.input-date.has-error {
  border: 1px solid #be123c;
  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #be123c;
      margin: 0px 10px;
    }
  }
  background: url('~static/icons/icon-error.svg') no-repeat scroll 95% center;
  // padding-left: 30px;
}

.has-error-document input {
  border: 1px solid #be123c;
  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #be123c;
      margin: 0px 10px;
    }
  }
  background: url('~static/icons/icon-error.svg') no-repeat scroll 95% center;
  // padding-left: 30px;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:invalid {
  border: 1px solid #be123c;
  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #be123c;
      margin: 0px 10px;
    }
  }
  background: url('~static/icons/icon-error.svg') no-repeat scroll 95% center;
}

textarea {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 8px;

  /* White */

  background: #ffffff;
  /* Greyish light */

  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  border-radius: 8px;

  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #94a3b8;
      margin: 0px 10px;
    }
  }

  &:read-only {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: default;

    &:focus-visible {
      outline: none;
    }
  }
}

input {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 8px;

  /* White */

  background: #ffffff;
  /* Greyish light */

  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;

  &::placeholder {
    @include placeholder {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #94a3b8;
      margin: 0px 10px;
    }
  }

  &:disabled {
    background-color: #c5c5c5;
  }

  &:read-only {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: default;

    &:focus-visible {
      outline: none;
    }
  }

  &.has-error {
    border: 1px solid #be123c;
    margin-bottom: 0px;
    background: url('~static/icons/icon-error.svg') no-repeat scroll 95% center;

    &::placeholder {
      @include placeholder {
        color: #be123c;
      }
    }
  }
}

.v-select {
  .vs__search {
    &::placeholder {
      @include placeholder {
        font-size: 16px;
        line-height: 150%;
        color: $error;
        margin: 0px 10px;
      }
    }
  }
  .vs__dropdown-toggle {
    font-family: 'Avenir-Roman';
    color: #475569;
    padding: 10px 8px;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px;
  }
  .vs__dropdown-menu {
    background: #dfe5fb;
    border: none;
    color: #394066;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  .vs__clear {
    fill: #394066;
  }
  .vs__open-indicator {
    fill: #394066;
  }
}

.has-error {
  .vs__dropdown-toggle {
    border: 1px solid #be123c;
  }
}

.helper {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $greyishblue--dark;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.warning-no-items {
  color: $primary--light;
}

span {
  &.has-error {
    font-size: 14px;
    color: $error;
  }
}

[v-cloak] {
  display: none;
}
.edit {
  display: none;
}
.editing .edit {
  display: block;
}
.editing .view {
  display: none;
}

.main {
  font-family: 'Avenir-Medium';
  background: #ffffff;
  padding: 29px 32px;

  .box__new {
    border: 1px dashed #2867a1;
    border-radius: 15px;
    padding: 32px 22px 24px 23px;
    margin-bottom: 10px;
  }

  .card {
    margin-bottom: 8px;
    padding: 32px 22px 24px 23px;
    background: #f8fafc;
    border-radius: 8px;

    p {
      font-family: 'Avenir-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
    }

    .mutted {
      font-family: 'Avenir-Roman';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      display: flex;
      align-items: flex-end;

      /* Greyish dark */

      color: #94a3b8;
    }
  }
}

.skeleton {
  background: #ebebeb;

  .text {
    min-width: 200px;
    background-color: #dfdfdf;
    border-radius: 15px;
    height: 20px;
  }

  .btn {
    background: #dfdfdf;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 23.5px;
  }

  .title {
    width: 400px;
    background-color: #dfdfdf;
    border-radius: 15px;
    height: 27px;
  }

  .bread {
    width: 200px;
    background-color: #dfdfdf;
    border-radius: 15px;
    height: 24px;
  }
}

.pagination {
  display: flex;
  align-items: center;

  .btn-prev-outlined,
  .btn-next-outlined {
    // background: transparent;
    // border: 1px solid $primary--dark;
    // color: $primary--dark;
    // border-radius: 10px;
    // padding: 10px 15px;
    margin: 0 10px;
  }

  .number-page {
    background: transparent;
    color: $primary--dark;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 0 5px;

    &.active {
      background: $greyishblue--light;
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.swal2-title {
  line-height: inherit;
}
